#footer {
  background: #3a3a3a;
  color: #fff;
}

.footer-widgets-area {
  padding: 4.4rem 0;
}

.footer-copyright {
  text-align: center;
  font-size: 0.85rem;
  border-top: 1px solid #7a7a7a;
  padding: 1.8rem 0;
}

@media (max-width: 991.98px) {
  .footer-widgets-area {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}