ul.meta {
  display: inline-block;
  width: 100%;
  color: #777;
  font-size: 0.85rem;
  line-height: 1;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.meta li {
  float: left;
  line-height: 1.8;
}

ul.meta li:after {
  content: "-";
  padding: 0 6px;
}

ul.meta li:last-child:after {
  display: none;
  padding: 0;
}

ul.meta li a {
  color: #777;
}

ul.meta li i {
  display: inline-block;
  color: #929292;
  padding-right: 5px;
}