.widget a {
  color: #28a745 !important;
  text-decoration: none;
}

#calendar_wrap table {
  width: 100%;
}
.widget_calendar td, .widget_calendar th  {
color: #3a3a3a;
word-break: break-word;
border-collapse: separate;
border-spacing: 0;
line-height: 2.1em;
box-sizing: inherit;
font-size: 100%;
font-style: inherit;
font-weight: inherit;
margin: 0;
outline: 0;
vertical-align: baseline;
border: 1px solid rgba(0,0,0,.1);
border-width: 0 1px 1px 0;
padding: 0;
text-align: center;
border-right: none;
border-left: none;
width: 14.2857%;
}
.widget_calendar #today {
  background: #28a745;
  color: #fff;
}


.widget .gallery-item {
color: #3a3a3a;
word-break: break-word;
line-height: 2;
font-size: 100%;
font-style: inherit;
font-weight: inherit;
box-sizing: inherit;
display: inline-block;
text-align: center;
vertical-align: top;
width: 100%;
margin: 0;
padding: 10px;
border-radius: 2px;
max-width: 33.33%;
}


.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute!important;
	width: 1px;
	word-wrap: normal!important
}


.widget {
	margin: 0 0 2.5rem
}

.widget .widget-title {
	font-size: 1.2rem;
	font-weight: 500;
	margin-bottom: 1rem
}

.widget.widget_recent_comments ul li {
	padding: 0.5rem 0
}

.widget ul {
	margin: 0;
	padding-left: 0;
	list-style-type: none;
}

.widget ul li {
	border-bottom: 1px solid #e9ecef
}

.widget ul li:last-child {
	border-bottom: none
}

.widget ul li a {
	padding: 0.5rem 0;
	display: inline-block
}

.search-form {
position: relative;
}
.search-field {
padding: 0.7em;
}

.search-submit {
padding: 0.5em 1em;
position: absolute;
right: 3px;
bottom: 3px;
}
