/************************
  * Divivder
  *************************/
.customizer-divider {
  background: #fff;
  font-weight: bold;
  padding: 0.5rem 0;
  margin: 1rem 0;
  text-align: center;
}

/************************
  * Radio Image
  *************************/
.ploverwp-radio-image {
  display: none !important;
}

.ploverwp-radio-image+label {
  display: inline-block;
  margin: 0 12px 12px 0;
}
.ploverwp-radio-image+label svg {
  width: 73px;
  height: 49px;
}

.ploverwp-radio-image:checked+label svg {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 0 3px 0 rgba(0,133,186,.67);
}

/************************
  * Footer widgets layout
  *************************/
#ploverwp-custom-footer-layout {
  display: none;
}

/************************
  * Popover
  *************************/
.ploverwp-popover-content {
  background: #333;
  color: white;
  padding: 0.5rem;
  border-radius: 0.4rem;
  font-size: 0.8rem;
}

.ploverwp-popover-toggle {
  width: fit-content;
  margin-top: 0.9rem;
  position: absolute;
  right: 0.8rem;
}

.ploverwp-popover-toggle.close {
  margin-top: -1.2rem;
}

.ploverwp-popover-arrow-down {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #333;
  z-index: -1;
}